<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.3.83</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/BuildServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>baltic-amadeus\tmaconko</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlServer" Order="1" Enabled="False">
          <Destination Path="Data Source=NET1RD3;Initial Catalog=BuildWatch;User ID=BuildWatchUser;Password=K1o2r3t4" Name="Data Source=NET1RD3;Initial Catalog=BuildWatch;User Id=BuildWatchUser;Password=K1o2r3t4" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MACONKOT;Initial Catalog=BuildWatch;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MACONKOT;Database=BuildWatch;Integrated Security=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlServer-Web.config Connection String">
      <ParameterValue>Data Source=NET1RD3;Initial Catalog=BuildWatch;User Id=BuildWatchUser;Password=K1o2r3t4</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>