<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BalticAmadeus.BuildPusher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BalticAmadeus.BuildPusher.Properties.Settings>
            <setting name="ApiUrlBase" serializeAs="String">
                <value>http://localhost:26309/api</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsCacheTimeoutInMiliseconds" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="DataSourceRefreshTimeoutInMiliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
        </BalticAmadeus.BuildPusher.Properties.Settings>
    </userSettings>
</configuration>