<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BalticAmadeus.BuildPusher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <BalticAmadeus.BuildPusher.Properties.Settings>
      <setting name="AppKey" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingsCacheTimeoutInMiliseconds" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="DataSourceRefreshTimeoutInMiliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ApiUrlBase" serializeAs="String">
        <value>http://localhost:26309/api</value>
      </setting>
    </BalticAmadeus.BuildPusher.Properties.Settings>
  </userSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

    <targets>
      <target name="fileTarget" xsi:type="File" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" fileName="Logs/${shortdate}.txt" />
      <target name="consoleTarget" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
      <logger name="fileLogger" minlevel="Debug" writeTo="fileTarget" />
      <logger name="consoleLogger" minlevel="Debug" writeTo="consoleTarget" />
    </rules>
  </nlog>
</configuration>